{% extends "base.html.twig" %}

{% block body %}
    <div class="currentMonth">
        In {{ 'now' | date('F') }} you can plant:

        {% for crop in crops %}
            {{ crop }}
        {% endfor %}
    </div>    
{% endblock %}
